<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/navbar' %>
    <section id='content'>
      <%= render 'layouts/sidebar' %>
      <main>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
